<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>
<body>
    <h1>Recicle ao máximo</h1>


    <p>
       Não há dúvidas de que poluição é coisa séria e algo que preocupa cada vez mais a população. Diversos estudos surgem de tempos em tempos para mostrar o panorama de diversas nações, e o mais recente coloca o Brasil como um dos países mais poluídos do mundo.
    </p>
    
    <p>Segundo dados compilados pelo Cuponation, nosso país aparece em um ranking com 109 países por apresentar cerca de 56% de poluição. Entre as cinco cidades citadas do nosso país, as mais poluídas são as seguintes:
    </p>
    <p>
    1)Rio de Janeiro/RJ : 64 microgramas  por metro cúbico;<br>
    2)Cubatão/SP: 48 microgramas  por metro cúbico;<br>
    3)Campinas/SP: 39 microgramas  por metro cúbico;<br>
    4)São Paulo/SP : 38 microgramas  por metro cúbico;<br>
    5)Curitiba/PR : 29 microgramas  por metro cúbico.<br>
</p>
  <p></p>
 
<div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/a-poluicao-traz-consequencias-graves-todos-os-seres-vivos-um-ecossistema-58c19dab654d0.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            A poluição traz consequências graves a todos os seres vivos de um ecossistema

          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
    <p>
        <b>  <i> <u>Abaixo clique no botão amarelo para descobrir a posição em que o Brasil se encontra!!!</u> </i> </b>
    </p>
</body>
</html>